.dashboardAppBar {
    background-color: #123456; 
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbarIcons {
    display: flex;
    align-items: center;
    gap: 12px; 
  }

  